@model IEnumerable<UI.Login.Models.Provincia>

@{
    ViewData["Title"] = "Index";
}

<h1>Provincia</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProvincia)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProvincia">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProvincia">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProvincia">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

