@model IEnumerable<UI.Login.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>
            <th>
                @Html.DisplayName("Salario")
            </th>
            <th>
                @Html.DisplayName("Fecha Ingreso")
            </th>
            <th>
                @Html.DisplayName("Puesto")
            </th>
            <th>
                @Html.DisplayName("Rol")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPuestoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEmpleado">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
