@model IEnumerable<FrontEnd.API.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
