@model IEnumerable<UI.Login.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Numero Factura")
            </th>
            <th>
                @Html.DisplayName("Fecha")
            </th>
            <th>
                @Html.DisplayName("Monto")
            </th>
            <th>
                @Html.DisplayName("Descuento")
            </th>
            <th>
                @Html.DisplayName("Cliente")
            </th>
            <th>
                @Html.DisplayName("Empleado")
            </th>
            <th>
                @Html.DisplayName("Producto")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFactura">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFactura">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFactura">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
